<footer>
  <p>{{ site.time | date: '%Y' }} <a href="https://a11yto.com/">#a11yTO</a> &ndash; <a {% if page.id == 'organizers' %}class="current-page" {% endif %} href="/organizers">Organizers</a> &ndash; <a {% if page.id == 'archive' %}class="current-page" {% endif %} href="/past-events">Past Events</a> &ndash; <a {% if page.id == 'accessibility-statement' %}class="current-page" {% endif %} href="/accessibility-statement">Accessibility Statement</a> &ndash; <a {% if page.id == 'conduct' %}class="current-page" {% endif %} href="/code-of-conduct">Code of Conduct</a>
  </p>
</footer>