
  <header class="site-header">
    <div class="event-branding clearfix">
      <nav id="site-navigation" class="main-navigation">
        <ul class="nav-menu">
          <li>
            <a {% if page.id == 'home' %}class="current-page"{% endif %} href="/">Home</a>
          </li>
          <li>
            <a href="#location" target="_blank">#Location</a>
          </li>
        </ul>
      </nav>
    </div>
    {% if page.id == 'home' %}
    <div class="event-detail">
      <h1>#{{ site.title }}</h1>
      <p class="date">, 2019</p>
      <p class="location">Toronto, Ontario</p>
      <p class="subtitle">#{{ site.description }}</p>
    </div>
    {% endif %}
  </header>

