<section class="sponsorships">
  <h2>Our Sponsors</h2>
  <h3 class="sub-head">Diamond Sponsor</h3>
  <div class="sponsors ">
    <div>
      <img src="/assets/sponsors/abledocs-logo.png " alt="Abled Docs" class="logo">
    </div>
  </div>
  <h3 class="sub-head">Platinum Sponsors</h3>
  <div class="sponsors ">
    <div>
      <img src="/assets/sponsors/td_logo.png " alt="TD" class="logo">
    </div>
  </div>
  <h3 class="sub-head">Gold Sponsors</h3>
  <div class="sponsors ">
    <div>
      <img src="/assets/sponsors/crawford-technologies.png" alt="Crawford Technologies" class="logo ">
    </div>
    <div>
      <img src="/assets/sponsors/deque_logo.png " alt="Deque Systems " class="logo ">
    </div>
    <div>
      <img src="/assets/sponsors/ea-logo.png " alt="eSSential Accessibility" class="logo ">
    </div>
  </div>
  <p>If you are interested in sponsoring <strong>#a11yTO</strong>, please email us at <a href="mailto:sponsor@a11yto.com ">sponsor@a11yto.com</a></p>
</section>