<section aria-labelledby="health-guidelines" class="disclaimer">
  <h2 id="health-guidelines" class="sub-head">Public Health Guidelines</h2>
  <p>Attendees will be required to follow public health guidelines set out by the province and the venue. Currently, our venue requires proof of vaccination or a negative test. Still, we cannot guarantee this will be in effect this fall, as it is not a general requirement in Ontario.</p>
  <p>If masks are not mandatory in October, we encourage you to still wear one whenever you wish, and we will have some available at the venue.</p>
</section>

<section aria-labelledby="sponsors-title" class="sponsorships">
  <h2 id="sponsors-title">Our Sponsors</h2>
  <h3 class="sub-head">Diamond Sponsor</h3>
  <div class="sponsors">
    <div>
      <img src="/assets/sponsors/abledocs-logo.png" alt="Abled Docs" class="logo" />
    </div>
  </div>
  <h3 class="sub-head">Gold Sponsors</h3>
  <div class="sponsors">
    <div>
      <img src="/assets/sponsors/accessibility-partners-logo.png" alt="Accessibility Partners Canada" class="logo" />
    </div>
    <div>
      <img src="/assets/sponsors/cbc-logo.png" alt="CBC" class="logo" />
    </div>
    <div>
      <img src="/assets/sponsors/spotify-design-logo.png" alt="Spotify Design" class="logo" />
    </div>
    <div>
      <img src="/assets/sponsors/td-logo.png" alt="Spotify Design" class="logo" />
    </div>
    <div>
      <img src="/assets/sponsors/TPGi-logo.png" alt="TPGi" class="logo" />
    </div>
    <div>
      <img src="/assets/sponsors/ubisoft-logo.png" alt="Ubisoft" class="logo" />
    </div>
  </div>
  <p>If you are interested in sponsoring <strong>#a11yTO</strong>, please email us at <a href="mailto:sponsor@a11yto.com ">sponsor@a11yto.com</a>
  </p>
</section>
