---
layout: default
---

      <main>
        <article>

{{ content }}

        </article>
      </main>

      <section class="travel">
        <h2>Travel</h2>
        <div id="location" class="google-maps ">
          <iframe title="Map to Telus Digital" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2887.2254680366636!2d-79.38330268450255!3d43.6434771791217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34d4b9f0d3fb%3A0xdee73a9bbb400f49!2sTELUS!5e0!3m2!1sen!2sca!4v1493165508200 " width="875 " height="325 " frameborder="0 " style="border:0;" allowfullscreen></iframe>
        </div>
        <ul class="address">
          <li class="venue">Telus Digital</li>
          <li> 25 York St, Toronto, ON M5J 2V5</li>
          <li>(416) 360-1432</li>
        </ul>
      </section>


